<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card>
                <h1 style="border-color: green;">Estudiantes</h1>
                <button class="btn btn-success" (click)="loadAllStudents()">Conoce a nuestros estudiantes</button>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-card>
                <table mat-table [dataSource]="dataSource" class="table table-striped" text="center">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
  
                    <!-- Name Column -->
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef> firstName </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                    </ng-container>
  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef> lastName </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                    </ng-container>
  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef> gender </th>
                        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="birthDate">
                        <th mat-header-cell *matHeaderCellDef> birthDate </th>
                        <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </mat-card>
        </div>
    </div>
</div>
